<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><i class="fa fa-map-marker"></i> Contact:</h3>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-heart"></i> Socialize</h3>
                <div id="social-icons">
                    {% if site.facebook_link %}
                    <a href="{{ site.facebook_link }}" class="btn-group facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>